.course-tabs-navigation {
  position: relative;
  border-bottom: solid 1px #eaeaea;

  .nav a,
  .nav button {
    &:hover {
      background-color: $light-400;
    }
  }

  .nav a {
    &:not(.active):hover {
      background-color: $light-400;
      border-bottom: none;
    }
  }

  &__search-toggle {
    position: absolute;
    top: .05rem;
    right: 0;
  }
}

.unit-title-overflow{
  display: flex !important;     /* keep the tabs in a flex row */  
  flex-wrap: wrap !important;   /* let them wrap onto a new line instead of forcing a scrollbar */
  overflow-x: hidden !important;/* hide the horizontal scrollbar that was showing underneath   */
  font-size: 90%;
}